[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
com
bone_abdomen_01
bone_abdomen_02
bone_L_coxa_C_01
bone_L_femur_C_01
bone_L_tibia_C_01
bone_L_tarsus_C_01
bone_L_tarsus_C_02
bone_R_coxa_C_01
bone_R_femur_C_01
bone_R_tibia_C_01
bone_R_tarsus_C_01
bone_R_tarsus_C_02
bone_L_coxa_B_01
bone_L_femur_B_01
bone_L_tibia_B_01
bone_L_tarsus_B_01
bone_L_tarsus_B_02
bone_R_coxa_B_01
bone_R_femur_B_01
bone_R_tibia_B_01
bone_R_tarsus_B_01
bone_R_tarsus_B_02
bone_thorax_01
bone_head_01
bone_L_mandible_01
bone_R_mandible_01
bone_R_maxillaryPalp_01
bone_R_maxillaryPalp_02
bone_R_antenna_01
bone_R_antenna_02
bone_L_antenna_01
bone_L_antenna_02
bone_L_maxillaryPalp_01
bone_L_maxillaryPalp_02
bone_L_coxa_A_01
bone_L_femur_A_01
bone_L_tibia_A_01
bone_L_tarsus_A_01
bone_L_tarsus_A_02
bone_R_coxa_A_01
bone_R_femur_A_01
bone_R_tibia_A_01
bone_R_tarsus_A_01
bone_R_tarsus_A_02
