[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
com
bone_abdomen_01
bone_abdomen_02
bone_L_coxa_C_01
bone_L_femur_C_01
bone_L_tibia_C_01
bone_L_tarsus_C_01
bone_L_tarsus_C_02
bone_R_coxa_C_01
bone_R_femur_C_01
bone_R_tibia_C_01
bone_R_tarsus_C_01
bone_R_tarsus_C_02
bone_L_coxa_B_01
bone_L_femur_B_01
bone_L_tibia_B_01
bone_L_tarsus_B_01
bone_L_tarsus_B_02
bone_R_coxa_B_01
bone_R_femur_B_01
bone_R_tibia_B_01
bone_R_tarsus_B_01
bone_R_tarsus_B_02
bone_thorax_01
bone_head_01
bone_L_mandible_01
bone_R_mandible_01
bone_R_maxillaryPalp_01
bone_R_maxillaryPalp_02
bone_R_antenna_01
bone_R_antenna_02
bone_L_antenna_01
bone_L_antenna_02
bone_L_maxillaryPalp_01
bone_L_maxillaryPalp_02
bone_L_coxa_A_01
bone_L_femur_A_01
bone_L_tibia_A_01
bone_L_tarsus_A_01
bone_L_tarsus_A_02
bone_R_coxa_A_01
bone_R_femur_A_01
bone_R_tibia_A_01
bone_R_tarsus_A_01
bone_R_tarsus_A_02

[RemoveTracks]
hit_add.1=all
hit_add.2=all
hit_add.3=all
hit_add.4=all
hit_add.6=all
hit_add.8=all
hit_add.9=all
hit_add.11=all
hit_add.13=all
hit_add.14=all
hit_add.16=all
hit_add.18=all
hit_add.19=all
hit_add.20=all
hit_add.21=all
hit_add.23=all
hit_add.26=all
hit_add.27=all
hit_add.36=all
hit_add.40=all
hit_add.41=all
hit_add.45=all
